* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body,html{
    scroll-behavior: smooth;
}

header{
    background: rgb(87, 76, 76);
    width: 100%;
}

.container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.header-grid{
    display: grid;
    grid-template-columns: 900px 1fr;
    position: relative;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgb(87, 76, 76);
    z-index: 2;
}

/* .header-all{
    display: grid;
    grid-template-columns: 700px 1fr;
    bottom: 0;
    width: 100%;
    height: 100px;
} */

/************************************ name header ***********************************/

.name-header{
    margin-left: 200px;
    margin-top: 3px;
    width: 100%;
}

.name-header span{
    font-size: 35px;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
    color: white;
}

/************************************ menu header ***********************************/

ul.menu-header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 8px;
    width: 100%;
}

ul.menu-header li{
    list-style: none;
}

ul.menu-header li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 5px;
    padding: 5px 10px;
    display: block;
    position: relative;
}

ul.menu-header li a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

ul.menu-header li a:hover:after{
    width: 100%;
    left: 0;
}

/************************************ myself ***********************************/

.myself{
    width: 100%;
    height: auto;
    background-color: rgb(87, 76, 76);
}

.myself-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid black;
    padding-bottom: 100px;
}

.Pic1{
    margin-top: 10%;
}

.Pic1 img{
    width: 600px;
    border-radius: 50%;
}

.myselftext{
    margin-top: 25%;
    font-family: 'Prompt', sans-serif;
}

.myselftext h1{
    font-size: 45px;
    color: rgb(126, 126, 126);
}

.myselftext p{
    font-size: 36px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.myselftext h2{
    font-size: 22px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

/************************************ Content skill ***********************************/

.content{
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.skill-header{
    width: 100%;
    height: 100px;
}

.skill-header h1{
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    color: #333;
    letter-spacing: 5px;
    text-align: center;
}

.skill{
    width: 100%;
    height: auto;
}

.skill-grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 100px;
}

.skill-item{
    margin-top: 70px;
}

.skill-item .fab{
    font-size: 150px;
    color: rgb(75, 65, 65);
}

.skill-item .fas{
    font-size: 150px;
    color: rgb(75, 65, 65);
}

.skill-item h2{
    text-transform: uppercase;
    font-size: 36px;
    color: #333;
    margin-top: 20px;
    letter-spacing: 3px;
    font-family: 'Prompt', sans-serif;
}

.skill-item p{
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(128, 123, 123);
    font-size: 15px;
}

/************************************ Portfolio ***********************************/

.portfolio{
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.port-header{
    width: 100%;
    height: auto;
    text-align: center;
}

.port-header h1{
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    font-size: 56px;
    color: #333;
    letter-spacing: 5px;
}

.port-header p{
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    color: rgb(112, 110, 110);
    letter-spacing: 5px;
}

.work{
    width: 100%;
    height: auto;
}

.work-grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    text-align: center;
    padding-bottom: 80px;
}

.work-item{
    margin-top: 30px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.work-item img{
    width: 480px;
    height: auto;
    border-radius: 10px;
    transition: 0.3s;
}

.work-item p{
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
    color: #333;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.work-item a{
    text-decoration: none;
}

.work-item::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.work-item:hover::after{
    width: 100%;
    transition: width 0.8s;
}

.work-item:hover img,a{
    filter: brightness(1);
}

.work-item:hover img{
    filter: brightness(0.65);
}

/* .work-item:hover , img:hover{
    background: steelblue;
    opacity: 0.35;
} */

/************************************ Contact & References ***********************************/

footer{
    background: rgb(120, 198, 201);
    width: 100%;
    height: 400px;
}

.contact{
    width: 100%;
    height: 400px;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
}

.contact-header{
    text-align: center;
    align-self: center;
}

.contact-header h1{
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: whitesmoke;
    letter-spacing: 5px;
}

.item{
    margin-top: 40px;
}

.contact-item{
    display: flex;
    padding: 10px 0px;
}

.contact-item i{
    font-size: 50px;
}

.contact-item:nth-child(1) i{
    color: rgb(77, 77, 77);
}

.contact-item:nth-child(2) i{
    color: rgb(77, 77, 77);
}

.contact-item:nth-child(3) i{
    color: rgb(77, 77, 77);
}

.contact-item:nth-child(4) i{
    color: rgb(77, 77, 77);
}

.contact-item p{
    font-family: 'Prompt', sans-serif;
    font-size: 26px;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
}

.ref-text h3{
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    color: #2F4F4F;
    letter-spacing: 2px;
}

/************************************ Resume ***********************************/

.resume{
    width: 100%;
    height: auto;
}

.pic-resume{
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    margin: 7%;
    box-shadow: 7px 9px 51px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 9px 51px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 51px 3px rgba(0,0,0,0.75);
}

.pic-resume img{
    width: 870px;
}

/************************************ Project ***********************************/

.project{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.all-project{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.project-header h1{
    width: 1500px;
    font-family: 'Prompt', sans-serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
}

.underline-project{
    background-color: rgb(161, 141, 141) ;
    width: 25%;
    height: 3px;
    margin: 0 auto;
}

/************************************ Pic google ***********************************/

.project-pic{
    width: 750px;
}
.project-pic img{
    margin: 10%;
    width: 600px;
    box-shadow: 7px 13px 53px -4px rgba(0,0,0,0.68);
    -webkit-box-shadow: 7px 13px 53px -4px rgba(0,0,0,0.68);
    -moz-box-shadow: 7px 13px 53px -4px rgba(0,0,0,0.68);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.project-pic img:hover{
    opacity: 0.7;
}

.modal{
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content{
    margin: auto;
    display: block;
    width: 70%;
    max-width: 1500px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content{  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/************************************ text google ***********************************/

.project-text{
    width: 750px;
}

.project-text1{
    margin-top: 15%;
}

.project-text1 h1{
    font-family: 'Prompt', sans-serif;
    color: #333;
    font-size: 36px;
    transition: 0.35s;
    cursor: pointer;
}

.project-text1 a{
    text-decoration: none;
}

.project-text1 h1:hover{
    opacity: 0.5;
    transition: all 0.25s;
}

.project-text1 p{
    font-family: 'Prompt', sans-serif;
    color: #333;
    font-size: 24px;
}

/************************************ text BookOnline ***********************************/

.project-text2{
    margin-top: 15%;
    text-align: right;
}

.project-text2 h1{
    font-family: 'Prompt', sans-serif;
    color: #333;
    font-size: 36px;
}

.project-text2 p{
    font-family: 'Prompt', sans-serif;
    color: #333;
    font-size: 24px;
}

/************************************ Pic BookOnline ***********************************/

.project-pic2{
    width: 750px;
}

.project-pic2 img{
    margin: 10%;
    width: 600px;
    box-shadow: 7px 13px 53px -4px rgba(0,0,0,0.68);
    -webkit-box-shadow: 7px 13px 53px -4px rgba(0,0,0,0.68);
    -moz-box-shadow: 7px 13px 53px -4px rgba(0,0,0,0.68);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.project-pic2 img:hover{
    opacity: 0.7;
}

.modal1{
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content1{
    margin: auto;
    display: block;
    width: 70%;
    max-width: 1200px;
}

.close1 {
    position: absolute;
    top: 75px;
    right: 75px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close1:hover, .close1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content1{  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/************************************ Responsive ***********************************/

/************************************ screen 1550px ***********************************/

@media only screen and (max-width : 1550px){
    .header-grid{
        grid-template-columns: 1fr;
        text-align: center;
        height: auto;
        position: relative;
    }

    .name-header{
        margin: 0 auto;
    }

    ul.menu-header{
        grid-template-columns: 1fr;
    }

    ul.menu-header li{
        height: 50px;
    }

    .myself-grid{
        grid-template-columns: 1fr;
    }

    .Pic1{
        margin-top: 3%;
        text-align: center;
    }

    .Pic1 img{
        width: 500px;
    }

    .myselftext{
        text-align: center;
        margin-top: 3%;
    }

    .myselftext h1{
        font-size: 45px;
    }

    .myselftext p{
        font-size: 36px;
    }

    .myselftext h2{
        font-size: 22px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /************************************ Skills ***********************************/

    .skill-header h1{
        font-size: 54px;
        text-align: center;
    }

    .skill-grid{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        border-bottom: 1px solid black;
    }

    .skill-item{
        width: 80%;
    }

    /************************************ Assignment ***********************************/

    .port-header h1{
        font-size: 54px;
        text-align: center;
    }

    .port-header p{
        font-size: 24px;
        text-align: center;
    }

    .work-grid{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .work-item img{
        width: 450px;
    }

    .work-item p{
        font-size: 24px;
        text-align: center;
    }

    /************************************ Contact & References ***********************************/
    
    footer{
        height: 430px;
    }
    
    .contact-grid{
        grid-template-columns: 1fr;
    }

    .contact-header{
        text-align: center;
        margin-top: 20px;
    }

    .contact-header h1{
        font-size: 40px;
    }

    .item{
        margin-top: 5px;
    }

    .contact-item{
        padding-left: 40px;
    }

    .contact-item i{
        font-size: 50px;
    }

    .contact-item p{
        font-size: 24px;
        letter-spacing: 4px;
    }

    .ref-text{
        padding-left: 40px;
    }

    .ref-text h3{
        font-size: 20px;
    }

    /************************************ Resume ***********************************/

    .resume{
        margin-top: 10%;
    }
    
    .pic-resume img{
        width: 100%;
    }

    /************************************ Project ***********************************/

    .project{
        margin-top: 5%;
        height: auto;
    }

    .all-project{
        width: 100%;
        justify-items: center;
    }

    .project-header{
        width: 100%;
    }

    .project-header h1{
        width: 100%;
        font-size: 36px;
    }

    .project-pic{
        width: 100%;
        text-align: center;
    }

    .project-pic img{
        width: 80%;
        margin: 0 auto;
        margin-top: 5%;
    }

    .project-pic2{
        width: 100%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .project-pic2 img{
        width: 80%;
        margin: 0 auto;
    }

    .project-text1{
        padding-left: 100px;
        padding-right: 60px;
        margin-top: 30px;
    }

    .project-text1 h1{
        font-size: 34px;
    }

    .project-text1 p{
        font-size: 22px;
    }

    .project-text2{
        margin-top: 50px;
        text-align: left;
        padding-left: 100px;
        padding-right: 60px;
    }

    .project-text2 h1{
        font-size: 34px;
    }

    .project-text2 p{
        font-size: 22px;
    }
}

/************************************ screen 400px ***********************************/

@media only screen and (max-width : 400px){
    
    .header-grid{
        grid-template-columns: 1fr;
        text-align: center;
        height: auto;
    }

    .name-header{
        margin: 0 auto;
    }

    ul.menu-header{
        grid-template-columns: 1fr;
    }

    ul.menu-header li{
        height: 50px;
    }

    .myself-grid{
        grid-template-columns: 1fr;
    }

    .Pic1{
        margin-top: 10%;
        text-align: center;
    }

    .Pic1 img{
        width: 300px;
    }

    .myselftext{
        text-align: center;
        margin-top: 10%;
    }

    .myselftext h1{
        font-size: 40px;
    }

    .myselftext p{
        font-size: 32px;
    }

    .myselftext h2{
        font-size: 17px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /************************************ Skills ***********************************/

    .skill-header h1{
        font-size: 50px;
        text-align: center;
    }

    .skill-grid{
        grid-template-columns: 1fr;
        justify-items: center;
        border-bottom: 1px solid black;
    }

    .skill-item{
        width: 80%;
    }

    /************************************ Assignment ***********************************/

    .port-header h1{
        font-size: 45px;
        text-align: center;
    }

    .port-header p{
        font-size: 22px;
        text-align: center;
    }

    .work-grid{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .work-item img{
        width: 350px;
    }

    .work-item p{
        font-size: 20px;
        text-align: center;
    }

    /************************************ Contact & References ***********************************/

    footer{
        height: 430px;
    }
    
    .contact-grid{
        grid-template-columns: 1fr;
    }

    .contact-header{
        text-align: center;
        margin-top: 10px;
    }

    .contact-header h1{
        font-size: 40px;
    }

    .item{
        margin-top: 10px;
    }

    .contact-item{
        padding-left: 10px;
    }

    .contact-item i{
        font-size: 36px;
    }

    .contact-item p{
        font-size: 18px;
        letter-spacing: 2px;
    }

    .ref-text{
        padding-left: 10px;
    }

    .ref-text h3{
        font-size: 20px;
    }

    /************************************ Resume ***********************************/

    .resume{
        margin-top: 15%;
    }
    
    .pic-resume img{
        width: 100%;
    }

    /************************************ Project ***********************************/

    .project{
        margin-top: 10%;
        height: auto;
    }

    .all-project{
        width: 100%;
        justify-items: center;
    }

    .project-header{
        width: 100%;
    }

    .project-header h1{
        width: 100%;
        font-size: 32px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .project-pic{
        text-align: center;
    }

    .project-pic img{
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
    }

    .project-pic2{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .project-pic2 img{
        width: 90%;
        margin: 0 auto;
    }

    .project-text1{
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 40px;
    }

    .project-text1 h1{
        font-size: 30px;
    }

    .project-text1 p{
        font-size: 20px;
    }

    .project-text2{
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .project-text2 h1{
        font-size: 30px;
    }

    .project-text2 p{
        font-size: 20px;
    }
}